body{
    background-image: url(images/Háttér1.jpg);
    font-family: 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    text-align: center;
}
#hatter{
    background-color: lightpink;
    border-radius: 20px;
    border: blueviolet dashed 2px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    margin: 10px 20% 10px 20%;
    font-size: 30px;
}
.aru{
    border-radius: 20px;
    border: red dashed 5px;
    height: 50%;
    width: 50%;
    background-color: white;
    float: none;
}
a{
    text-decoration: none;
    color: green;
    
    
}
th, td {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin-right: 200px;
    margin-left: 200px;
  }
table{
    width:500px;
}
a img{
    height: 50px;
    width: 50px;
    border: green solid 1px;
    border-radius: 5px;
    float: left;
}